# build products: everything here can be deleted and rebuilt
/cache/
/out/
/dist/
/qemu-build/
/win64/root/
/win64/stage/
/win64/build/
/win64/deps-src/
/win64/deps-build/
/win64/downloads/

# Electron
/electron/node_modules/

__pycache__/
*.pyc
